name: Makefile CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y make python3-venv

    - name: Install requirements
      run: make install

    - name: Lint
      run: make lint

    - name: Test
      run: make test

    - name: Build Docker image
      run: make build
